// Place all the styles related to the sandwiches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-circle {
  width: 8%;
  height: 47px;
  margin-left: 3%;
  text-align: center;
  font-size: 1.2em;
  border-radius: 60%;
}

.btn-comment{
  background-color: black;
  color: white;
  margin-right: 3%;
}

.btn-share{
  margin-left: 3%;
}
.comment{
  font-size: 1.4rem;
}
.comment-section{
  position: absolute;
  top: 13%;
  right: 5%;
}

.sandwich-slider-home{
  margin-bottom: 3%;
}

.heading-container{
  margin-bottom: 3%;
}
.page-button{
  border-radius: 50%;
  width: 45px;
  height: 36px;
  margin-right: 2px;
  text-align: center;

}

 .home-sandwich-box{
     margin-bottom: 2%; 
     margin-top: 2%;
 }
.sandwich-description{
  height: 5vh;
  font-size: 1.0rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.home-sandwich-image{
    width: 60%;
    height: 300px;
}
.home-sandwich-image-row{
  margin-bottom: 2%;
}

.next-page{
  font-size: 4em;
  background-color: #F5F1FA;
  margin-left: 0;
  margin-right: 0;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    padding: 8px;
    background: #fff;
    border: 2px solid black;
    color: black;
    font: 32px Arial, sans-serif;
    display: inline-block;
}

.sandwich-image{
  width: 75%;
	height: 100%;
	max-height: 321px;
  z-index: 1;
}

.sandwich-image-wrapper{
  position: relative;
}

.image-overlay{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  width: 72%;
  height: 40px;
  bottom: 0;
  left: 14%;
  z-index: 2;
  color: #FFF;
  font-size: 1.2rem;
}

.imagebox-text{
  z-index: 5;
  padding-top: 2%;
}
.sandwich-nav-row *{
  display: inline;
  margin-bottom: 2%;
  margin-top: 1%;
}

.sandwich-heading{
  font-size: 2em;
  margin-left: 12%;
  margin-right: 12%;
}

.sandwich-header{
    margin-top: 3%;
}

.sandwich-modal-image{
  height: 85vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.navbar-heading{
	font-size: 1.2em;
}
.no-button{
	width: 100%;
}

.yes-button{
	width: 100%;
}

.sandwich-description{
  margin-top: 2%;
	font-size: 1.2em;
}



@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

.navbar
{
	max-width:300px;
	margin-right: 0;
	margin-left: -1%;
}	

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
}

@media only screen and (max-width: 767px) {

  .image-overlay{
    height: 25%;
    width: 70%;
    left: 15%;
    bottom: -24%;
  }
  .sandwich-nav-row{
    margin-top: 20%;
  }

  .btn-circle{
    width: 10%;
  }
}
