// Place all the styles related to the sandwiches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sandwich-image{
	width: 20vw;
	height: 20vh;
}

.no-button{
	width: 100%;
}

.yes-button{
	width: 100%;
}

.sandwich-description{
	font-size: 1.2em;
}

.sandwich-wrapper{
	margin-top: 20vh;
}