// Place all the styles related to the sandwiches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-circle {
  text-align: center;
  font-size: 1.4em;
  border-radius: 60%;
  margin-left: 1%;
}

.btn-comment{
  background-color: black;
  color: white;
}

.comment{
  font-size: 1.4rem;
}
.comment-section{
  position: absolute;
  top: 13%;
  right: 5%;
}

.heading-container{
  margin-bottom: 3%;
}
.page-button{
  border-radius: 50%;
  width: 45px;
  height: 36px;
  margin-right: 2px;
  text-align: center;

}

.sandwich-description{
  height: 5vh;
  font-size: 1.0rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.next-page{
  font-size: 4em;
  background-color: #F5F1FA;
  margin-left: 0;
  margin-right: 0;
}

.sandwich-image{
	max-height: 321px;
  width: 100%;
  z-index: 0;
}

.sandwich-image-wrapper{
  position: relative;
}

.imagebox-text{
  z-index: 5;
  padding-top: 2%;
}

.sandwich-box{
  margin-top: 5%; 
}
.sandwich-header{
    margin-top: 3%;
}

.sandwich-modal-image{
  height: 85vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.navbar-heading{
	font-size: 1.2em;
}

.sandwich-description{
  margin-top: 2%;
	font-size: 1.2em;
}

.sandwich-image-wrapper{
  margin-top: 2%;
  margin-bottom: 2%;
  position: relative;
}

.nav-wrapper{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

.navbar
{
	max-width:300px;
	margin-right: 0;
	margin-left: -1%;
}	

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
}

@media only screen and (max-width: 767px) {

  .sandwich-nav-row{
    margin-top: 15%;
  }

  .btn-circle{
    width: 10%;
  }
}
